<% provide(:title, "Home") %>
<div class = "center jumbotron" >
  <h1>Twitter Like App</h1>
  <h2>This is twitter like application.</h2>
  
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
